<!DOCTYPE html>
<html lang="en" class="no-js">
    
    <head>

        <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    </head>
        <script type="text/javascript" src="__JS__/common/localstorage.js"></script>
        <script type="text/javascript">
			var Jumpurl = "{:url('login/login',['module' => $module,'controller'=>$controller,'action'=>$action,'input'=>$input])}";
			var getUIDurl = "{:url('login/ajax_getUid')}";
			var ajax_login_verify_url = "{:url('login/ajax_login_verify')}";
			var phone_url = "{:url('phone/index/index')}";
			var evalu_url = "{:url('evalu/sales/salesList')}";
			var module = "{$module}";
			var controller = "{$controller}";
			var action = "{$action}";
			var origin_url = '/'+module+'/'+controller+'/'+action;
			var real_url = "{:url('',$input)}";
			real_url = (real_url.replace(/\/evalu\/login\/auto_jump/,origin_url));
			
			$(document).ready(function() {
				//这里两个函数都在localstorage.js里
				//alert(mod + ',' + url);
				//alert(action);
				MachineID_handle();
				if ((undefined == getUser) || ("" == getUser) || (null == getUser) || (undefined == getPwd) || ("" == getPwd) || (null == getPwd)){
					 //如果没有用户数据-->跳转登录页面
					 alert('没数据，请重新登录！');
					 window.location.href = Jumpurl;
				}else{
					 //否则直接跳转
					 login_handle(getUser,getPwd,getMachineID,"localstorage登录");
				}
			});
		</script>
    <body>
    </body>

</html>