@CHARSET "UTF-8";
ul.pagination{
	margin: 0px 0px;
}
.list-unstyled{
	margin-left: 20px;
}
.form-group {
    margin-bottom: 5px;
}
.row{
	margin-bottom:5px;
}
.row label{
	text-align: right;
	margin-top: 8px !important;
}
.row input{
	width:100%;
}
.radio-inline{
	padding-left: 50px;
}
.row input[type="radio"],.checkbox-inline input[type="checkbox"]{
	margin-left: -55px;
}
