<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>大叔报价</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css"	href="__CSS__/font-awesome.min.css">
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="__CSS__/comms/enquiry.css">
</head>
<body>


	<div class="panel panel-default" style="margin: 0 0;">
		<div class="panel-heading">
			<h3 style="color: #3c763d;">{$B['comm']['comm_name']}
			{if condition="$B['comm']['usage']!=''"}-{$B['comm']['usage']}{/if}
			<small style="padding-left:3%">{$B['comm']['region']}-{$B['comm']['block']}</small>
			</h3>
		</div>
		<div class="panel-body" style="padding-top: 0;font-size: 18px;">
			<ul class="nav nav-pills nav-tabs" >
				<li class="active" ><a href="#base" aria-controls="base" role="tab" data-toggle="tab" >基价</a></li>
				<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      数据 <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
						<li ><a href="#box" aria-controls="box" role="tab" data-toggle="tab" >盒须图</a></li>
					    <li ><a href="#scatter_area_price" aria-controls="scatter_area_price" role="tab" data-toggle="tab" >面积/房价散点</a></li>
					    <li ><a href="#scatter_floor_price" aria-controls="scatter_floor_price" role="tab" data-toggle="tab" >总楼层/房价散点</a></li>
				    </ul>
			    </li>
				<li ><a href="#fee" aria-controls="fee" role="tab" data-toggle="tab" >收费</a></li>
				<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      {$Think.session.user.user_name} <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				    	{if condition="$auth['look']"}
				    	<li ><a href="#box1" aria-controls="box1" role="tab" data-toggle="tab" >参数</a></li>
				    	{/if}
				    	{if condition="$auth['case']"}
						<li ><a href="#casetab" aria-controls="casetab" role="tab" data-toggle="tab" id="case">成交案例</a></li>
						{/if}
<!-- 						{if condition="$auth['history']"}
						<li ><a href="#historytab" aria-controls="historytab" role="tab" data-toggle="tab" id="history">历史询价记录</a></li>
		 				{/if} -->
						{if condition="$auth['insert']"}
		 				<li ><a href="#query_record" aria-controls="query_record" role="tab" data-toggle="tab" >登记询价记录</a></li> 
		 				{/if}
		 				<!-- {if condition="$Think.session.user.user_name == 'admin'"}
		 				<li ><a href="#query_record" aria-controls="query_record" role="tab" data-toggle="tab" >登记询价记录</a></li> 
					    {/if} -->
					    <!-- <li ><a href="{:url('creatExcel',array('comm_id'=>$B['comm']['comm_id'],'comm_name'=>$B['comm']['comm_name']))}"  >导出Excel</a></li> -->
					    {if condition="$auth['excel']"}
					    <li ><a href="{:url('creatExcel')}"  >导出Excel</a></li>
					    {/if}
					    <li ><a href="{:url('evalu/login/logout')}" >注销</a></li>
					</ul>
			  	</li>
			</ul>
			
			  <div class="tab-content">
			  	<!-- 基本报价 -->
			    <div role="tabpanel" class="tab-pane active" id="base">
	   				<div class="panel panel-success">
						<div class="panel-heading" style="padding-bottom: 30px;"> 
							<span class="badge" style="font-size: 16px">
							{$B['priceByDeal'] > 0?	'二手房评估':'抵押评估价'}
							</span>
							{if condition="$B['comm']['rela_comm']!=''"}
							<span class="badge" style="font-size: 16px">
							参照：{$B['comm']['rela_comm']}
							</span>
							{/if}
							<h1 style="text-align: center; font-weight: 700;{if condition="$B['std_r'] > $Think.config.std_r_limit or  $B['ori_len'] < $Think.config.min_base_records"}opacity:0.4;{/if}">
							{$B['priceByDeal'] > 0 ?$B['priceByDeal']:$B['mortgagePrice']}
								元 <small>/平方米</small>
							</h1>
							{if condition="$B['std_r'] > $Think.config.std_r_limit "}
							<p  style="text-align:center;color:#DD5A43;">数据离散性({$B['std_r']})过大，本报价需要估价师确认</p>
							{/if}
							{if condition="$B['ori_len'] < $Think.config.min_base_records "}
							<p  style="text-align:center;color:#DD5A43;">可供分析的数据({$B['ori_len']})偏少，本报价需要估价师确认</p>
							{/if}
							<p>
							<span class="label label-success font-small" style="float:right;font-weight:100;margin-left:5px;">
							{$B['avg_area']}平方米
							</span>
							<span class="label label-success font-small" style="float:right;font-weight:100;margin-left:5px;">
							{$B['avg_floor_index']}层/共{$B['avg_total_floor']}层
							</span>
							<span class="label label-success font-small" style="float:right;font-weight:100;margin-left:5px;">
							{$B['avg_builded_year']}年
							</span>
							</p>
						</div> 
<!-- 						<div class="list-group"	>
							<li class="list-group-item" >基价内涵</li>
							<table class="table">
								<tr>
									<td class="col-md-4 col-xs-4 left" >面积</td>
									<td class="col-md-8 col-xs-8 right">{$B['avg_area']}平方米</td>
			
								</tr>
								<tr>
									<td class="col-md-4 col-xs-4 left" >层次</td>
									<td class="col-md-8 col-xs-8 right">{$B['avg_floor_index']}层/共{$B['avg_total_floor']}层</td>
			
								</tr>
								<tr>
									<td class="col-md-4 col-xs-4 left " >建成年份</td>
									<td class="col-md-8 col-xs-8 right">{$B['avg_builded_year']}年</td>
								</tr>
							</table>
						</div> -->
						<div class="list-group">
							<table class="table" id="historytable">
							</table>
						</div>
					</div>
				</div>
				
				<!-- 盒须图 -->
			    <div role="tabpanel" class="tab-pane" id="box">
				    <div class="panel panel-success">
						<div class="panel-heading" style="width:100% ;height:400px" >
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
								<!-- 竖向盒须图，基本只和Y轴有关，X轴相对固定 -->
								<!-- 前端的异常值 -->
								<line x1="{$B['X']+1}%" y1="{$B['Qmin']}%" x2="{$B['X']+$B['box_width']-1}%" y2="{$B['Qmin']}%"  style="stroke-dasharray: 5;"/>
								<line x1="{$B['X']+$B['box_width']/2}%" y1="{$B['Qmin']}%" x2="{$B['X']+$B['box_width']/2}%" y2="{$B['Q1']}%"  style="stroke-dasharray: 5;"/>
								<!-- 后端的异常值 -->	
								<line x1="{$B['X']+1}%" y1="{$B['Qmax']}%" x2="{$B['X']+$B['box_width']-1}%" y2="{$B['Qmax']}%"  style=" stroke-dasharray: 5;"/>
								<line x1="{$B['X']+$B['box_width']/2}%" y1="{$B['Qmax']}%" x2="{$B['X']+$B['box_width']/2}%" y2="{$B['Q3']}%"  style=" stroke-dasharray: 5;"/>
													
								<!-- 盒子 -->
								<rect class='plotbox_box' x="{$B['X']}%" y="{$B['Q1']}%" width="{$B['box_width']}%" height="{$B['Q3']-$B['Q1']}%"  />
								<!-- 前须 -->
								<line x1="{$B['X']}%" y1="{$B['Q0']}%" x2="{$B['X']+$B['box_width']}%" y2="{$B['Q0']}%"  />
								<line x1="{$B['X']+$B['box_width']/2}%" y1="{$B['Q0']}%" x2="{$B['X']+$B['box_width']/2}%" y2="{$B['Q1']}%"  />
								<!-- 后须 -->
								<line x1="{$B['X']}%" y1="{$B['Q4']}%" x2="{$B['X']+$B['box_width']}%" y2="{$B['Q4']}%"  />
								<line x1="{$B['X']+$B['box_width']/2}%" y1="{$B['Q4']}%" x2="{$B['X']+$B['box_width']/2}%" y2="{$B['Q3']}%"  />
								<!-- 中位数 -->
								<line x1="{$B['X']}%" y1="{$B['Q2']}%" x2="{$B['X']+$B['box_width']}%" y2="{$B['Q2']}%"  style="stroke:#DFF0D8; "/>
								<!-- 显示数字 -->
								<text class='plotboxtext' x="{$B['X']+$B['box_width']+2}%" y="{$B['Qmin']}%" >{$B['min']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Q0']}%" class='plotboxtext'>{$B['Q0v']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Q1']}%" class='plotboxtext'>{$B['v25']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Q2']}%" class='plotboxtext'>{$B['median']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Q3']}%" class='plotboxtext'>{$B['v75']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Q4']}%" class='plotboxtext' >{$B['Q4v']}</text>
								<text x="{$B['X']+$B['box_width']+2}%" y="{$B['Qmax']}%" class='plotboxtext' >{$B['max']}</text>
					            <!-- 画直方图 -->
								{volist name="B['barChart']" id="vo"  }
									<rect x="{$B['X']-$vo*$B['x_unit']-10}%" y="{$key*$B['y_unit']+$B['Y_padding']}%" width="{$vo*$B['x_unit']}%" height="{$B['y_unit']-1}%" class='barChart' />
									<text x="{$B['X']-$vo*$B['x_unit']/2-10}%" y="{$key*$B['y_unit']+$B['Y_padding']+$B['y_unit']-2}%" class='barChart_text'>{$vo}</text>
								{/volist}
							</svg>
							
						</div>
					</div>
			    </div>
				<!-- 历史询价记录 -->
<!-- 				<div role="tabpanel" class="tab-pane " id="historytab">
					<table class="table" id="historytable">
					</table>
				</div> -->
				
				<!-- 案例记录 -->
				<div role="tabpanel" class="tab-pane " id="casetab">
					<table class="table" id="casetable">
					</table>
				</div>
				
				<!-- 计算评估费 -->
				<div role="tabpanel" class="tab-pane " id="fee">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4>计算评估费</h4>
						</div>
						<div class="list-group"	>
							<table class="table">
								<tr>
									<td class="col-md-6 col-sm-6 col-xs-6 left font-small" >面积（平方米）</td>
									<td class="col-md-6 col-sm-6 col-xs-6 right font-small">
										<input type="text" placeholder="输入面积数计算..." id='areafee'>
									</td>
								</tr>								<tr>
									<td class="col-md-6 col-sm-6 col-xs-6 left font-small" >评估总价（万元）</td>
									<td class="col-md-6 col-sm-6 col-xs-6 right inputaction font-small">
										<input type="text" placeholder="直接输入评估总价..." id='totalprice'>
									</td>
								</tr>
								<tr>
									<td class="col-md-6 col-sm-6 col-xs-6 left font-small" >发票金额（元）</td>
									<td class="col-md-6 col-sm-6 col-xs-6 right font-small" id='getfee'>
									</td>
								</tr>
								<tr>
									<td class="col-md-6 col-sm-6 col-xs-6 left font-small" >折扣（%）</td>
									<td class="col-md-6 col-sm-6 col-xs-6 right inputaction font-small">
										<input type="text" name="Enquiry_CellName" value="100" id='discount'>
									</td>
								</tr>
								<tr>
									<td class="col-md-6 col-sm-6 col-xs-6 left font-small" >收费（元）</td>
									<td class="col-md-6 col-sm-6 col-xs-6 right font-small" id='realfee'>
									
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- 登记询价记录 -->
				{if condition="$auth['insert']"}
				<div role="tabpanel" class="tab-pane " id="query_record">
	   				<div class="panel panel-success">
						<div class="panel-heading">
							<button type="button" class="btn btn-success btn-lg" id='insertQuery'>登记询价记录</button>
						</div>
						<div class="list-group ">
							<form class="form-horizontal" id="insertQueryForm">
							  	<table class="table">
									<tr>
										<td class="col-md-4 col-xs-4 left" >小区</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Enquiry_CellName" value="{$B['comm']['comm_name']}">
											<input type="hidden" name="OfferPeople" 
											value="{$auth['admin'] ? '林晓' : $Think.session.user.user_name}">
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >报价</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Apprsal_Up" 
											{if condition="$auth['admin']"}value="{$B['mortgagePrice']}"{/if}>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >询价人</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Enquiry_PmName" {if condition="$auth['admin']"}value="公司外部"{/if} list="emplorers">
											<datalist id="emplorers">
											  	{volist name="B['emplorers']" id="vo"  }
												  <option value="{$vo}">
												{/volist}
											</datalist>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >备注</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Remark" 
											{if condition="$auth['admin']"}
											value="{$B['len']}个数据，挂牌价格{$B['min']}-{$B['max']}元/平方米"
											{/if}>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >地址</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="PA_Located" 
											{if condition="$auth['admin']"}value="二手房可以评估{$B['dealPrice']}"{/if}>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >层次</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="PA_Level" value="{$B['avg_floor_index']}">
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >总层</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Enquiry_Layout" value="{$B['avg_total_floor']}">
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >用途</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="Apprsal_Use" value="住宅" list="use">
											<datalist id="use">
											  	{volist name="B['use']" id="vo"  }
												  <option value="{$vo}">
												{/volist}
											</datalist>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >建成</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="PA_YearBuilt" value="{$B['avg_builded_year']}" >
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >电梯</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="PA_Elevator" value=
											{$B['avg_total_floor'] > 8 ? '带电梯' : '无电梯'}
											 list="elevator">
											<datalist id="elevator">
											  	{volist name="B['elevator']" id="vo"  }
												  <option value="{$vo}">
												{/volist}
											</datalist>
										</td>
									</tr>
									<tr>
										<td class="col-md-4 col-xs-4 left" >结构</td>
										<td class="col-md-8 col-xs-8 right">
											<input type="text" name="PA_Structure" value={$B['avg_total_floor'] > 7 ? '钢混结构' : '砖混结构'} list="structuer">
											<datalist id="structuer">
											  	{volist name="B['structuer']" id="vo"  }
												  <option value="{$vo}">
												{/volist}
											</datalist>
										</td>
									</tr>
								</table>
						  	</form>
						</div>
					</div>
				</div>
				{/if}

			    <!-- 参数 -->
			    {if condition="$auth['look']"}
			    <div role="tabpanel" class="tab-pane" id="box1">
			    	<div class="list-group"	>
						<li class="list-group-item" >数据参数</li>
						<table class="table">
							<tr>
								<td class="col-md-4 col-xs-4 left " >数据开始</td>
								<td class="col-md-8 col-xs-8 right">{$B['from_date']}</td>
		
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left" >数据量</td>
								<td class="col-md-8 col-xs-8 right">{$B['len']}/{$B['ori_len']}，覆盖{$B['coverage']}%</td>
		
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left" >标准差系数</td>
								<td class="col-md-8 col-xs-8 right">{$B['std_r']}%</td>
		
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left" >均价</td>
								<td class="col-md-8 col-xs-8 right">{$B['mean']}元/平方米</td>
		
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left" >抵押折扣率</td>
								<td class="col-md-8 col-xs-8 right">{$B['mortgageRatio']*100}%</td>
		
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left " >二手价</td>
								<td class="col-md-8 col-xs-8 right">{$B['dealPricePosition']}%/{$B['dealPrice']}</td>
							</tr>
							<tr>
								<td class="col-md-4 col-xs-4 left " >交易价/二手报价</td>
								<td class="col-md-8 col-xs-8 right">{$B['price']}/{$B['priceByDeal']}</td>
							</tr>
							</table>
					</div>
			    </div>
			    {/if}
			    <!-- 面积楼价散点图 -->
			    <div role="tabpanel" class="tab-pane" id="scatter_area_price">
   				    <div class="panel panel-success">
						<div class="panel-heading" style="width:100% ;height:400px" >
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
								{volist name="B['area_price_scatter']['A_line']" id="vo"  }
									<line x1="{$vo['x0']}%" y1="{$vo['y0']}%" x2="{$vo['x1']}%" y2="{$vo['y1']}%"  class='scatter_line' />
									<text x="{$vo['t_x']}%" y="{$vo['t_y']}%" 
									class='{if condition="$vo['t_x'] == 0 ")}
									scatter_text_y
									{else /} scatter_text_x
									{/if} scatter_text' >{$vo['val']}</text>
								{/volist}
								{volist name="B['area_price_scatter']['A']" id="vo"  }
									<circle cx="{$vo['x']}%" cy="{$vo['y']}%" class = 'scatter_circle' r="1%"/>
								{/volist}
									<line x1="{$B['area_price_scatter']['axes'][0]['x0']}%" y1="{$B['area_price_scatter']['axes'][0]['y0']}%" x2="{$B['area_price_scatter']['axes'][0]['x1']}%" y2="{$B['area_price_scatter']['axes'][0]['y1']}%"  class='scatter_axes' />
									<text x="{$B['area_price_scatter']['axes'][0]['t_x']}%" y="{$B['area_price_scatter']['axes'][0]['t_y']}%"  class='XAxesText'>{$B['area_price_scatter']['axes'][0]['val']}</text>
									<line x1="{$B['area_price_scatter']['axes'][1]['x0']}%" y1="{$B['area_price_scatter']['axes'][1]['y0']}%" x2="{$B['area_price_scatter']['axes'][1]['x1']}%" y2="{$B['area_price_scatter']['axes'][1]['y1']}%"  class='scatter_axes' />
									<text x="{$B['area_price_scatter']['axes'][1]['t_x']}%" y="{$B['area_price_scatter']['axes'][1]['t_y']}%" class='YAxesText'>{$B['area_price_scatter']['axes'][1]['val']}</text>
							</svg>
						</div>
					</div>
				</div>
				
				<!-- 楼层楼价散点图 -->
			    <div role="tabpanel" class="tab-pane" id="scatter_floor_price">
			    	<div class="panel panel-success">
						<div class="panel-heading" style="width:100% ;height:400px" >
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
								{volist name="B['floor_price_scatter']['A_line']" id="vo"  }
									<line x1="{$vo['x0']}%" y1="{$vo['y0']}%" x2="{$vo['x1']}%" y2="{$vo['y1']}%"  class='scatter_line' />
									<text x="{$vo['t_x']}%" y="{$vo['t_y']}%" 
									class='{if condition="$vo['t_x'] == 0 ")}
									scatter_text_y
									{else /} scatter_text_x
									{/if} scatter_text' >{$vo['val']}</text>
								{/volist}
								{volist name="B['floor_price_scatter']['A']" id="vo"  }
									<circle cx="{$vo['x']}%" cy="{$vo['y']}%" class = 'scatter_circle' r="1%"/>
								{/volist}
									<line x1="{$B['floor_price_scatter']['axes'][0]['x0']}%" y1="{$B['floor_price_scatter']['axes'][0]['y0']}%" x2="{$B['floor_price_scatter']['axes'][0]['x1']}%" y2="{$B['floor_price_scatter']['axes'][0]['y1']}%"  class='scatter_axes' />
									<text x="{$B['floor_price_scatter']['axes'][0]['t_x']}%" y="{$B['floor_price_scatter']['axes'][0]['t_y']}%"  class='XAxesText'>{$B['floor_price_scatter']['axes'][0]['val']}</text>
									<line x1="{$B['floor_price_scatter']['axes'][1]['x0']}%" y1="{$B['floor_price_scatter']['axes'][1]['y0']}%" x2="{$B['floor_price_scatter']['axes'][1]['x1']}%" y2="{$B['floor_price_scatter']['axes'][1]['y1']}%"  class='scatter_axes' />
									<text x="{$B['floor_price_scatter']['axes'][1]['t_x']}%" y="{$B['floor_price_scatter']['axes'][1]['t_y']}%" class='YAxesText'>{$B['floor_price_scatter']['axes'][1]['val']}</text>
							</svg>
						</div>
			    	</div>

					</div>
			  	</div>
			
			<a class="btn btn-success btn-block btn-lg" href="{:url('index')}">返回</a>
			{if condition="$auth['dispute']"}
			<div class="input-group input-group-lg" style="margin-top:10px;">
		      <input type="text" class="form-control" placeholder="输入您认为合适的评估价..." id="myprice">
		      <span class="input-group-btn ">
		        <button class="btn btn-success " id="dispute" type="button">我有异议 !</button>
		      </span>
		    </div>
			{/if}
		</div>
	</div>
	
	<!-- 模态框 -->
	<div class="modal" tabindex="-1" role="dialog" id="mymodal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="mymodal_header">Modal title</h4>
	      </div>
	      <div class="modal-body" id='mymodal-body'>
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<script src="__JS__/jquery-2.1.4.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script> 
<!-- 	<script src="__JS__/comms/phoneGetPrice.js"></script>  -->
	<script type="text/JavaScript">
	jQuery(function($) {
		{if condition="$auth['dispute']"}
		jQuery("#dispute").on('click',function (){
			$.ajax({
				url:'{:url('dispute')}',
				type:'POST',
				data:{
					comm_id:{$B['comm']['comm_id']},
					myprice:$('#myprice').val(),
					my_min:{$B['min']},
					my_max:{$B['max']},
        		},
        		success: function(msg){
        			$('#mymodal_header').html(msg['h']);
    				$('#mymodal-body').html('<p>'+ msg['b'] + '</p>');
    				$('#mymodal').modal('show');
    				$('#myprice').val('');
       		   }
				
			});
		} );
		{/if}
		{if condition="$auth['insert']"}
		jQuery("#insertQuery").on('click',function (){
			var date = new Date();
			/* var data = $.param({'state': '123'}) + '&' + $('#insertQueryForm').serialize(); */
			$.ajax({
				url:'{:url('insertquery')}',
				type:'POST',
/* 				data:$('#insertQueryForm').serialize()+ '&' +$.param({
					'OfferPeople':'林晓',
					}), */
				data:$('#insertQueryForm').serialize(),
				success: function(msg){
        			$('#mymodal_header').html(msg['status']);
    				$('#mymodal-body').html('<p>'+ msg['msg'] + '</p>');
    				$('#mymodal').modal('show');
       		   	},	
			});

		} );
		{/if}
		{if condition="$auth['history']"}
		jQuery("#history").on('click',hist);
		
		function hist(){
			$.ajax({
				url:'{:url('getHistory')}',
				type:'POST',
				success: function(msg){
        			$('#historytable').html(msg);
       		   	},	
			});
		};
		hist();
		{/if}
		{if condition="$auth['case']"}
		jQuery("#case").on('click',function (){
			$.ajax({
				url:'{:url('getCase')}',
				type:'POST',
				success: function(msg){
        			$('#casetable').html(msg);
       		   	},	
			});
		} );
		{/if}
		jQuery(".table td.inputaction input").on('keyup',countfee);
		
		jQuery("#areafee").on('keyup',function(){
			var $area = $('#areafee').val();
			var $up = {$B['priceByDeal'] > 0 ?$B['priceByDeal']:$B['mortgagePrice']};
			$('#totalprice').val(($area*$up/10000).toFixed(2));
			countfee();
		});
		function countfee(){
			var $p = $('#totalprice').val();
			var $discount = $('#discount').val();
			if($p<=100){
				$fee = $p*10000*4/1000*0.6;
			}else if($p<=1000){
				$fee = (100*4 + ($p-100)*2)*10000/1000*0.6;
			}else if($p<=2000){
				$fee = (100*4 + 900*2 + ($p-1000)*1.4)*10000/1000*0.6;
			}else if($p<=5000){
				$fee = (100*4 + 900*2 + 1000*1.4 + ($p-2000)*0.7)*10000/1000*0.6;
			}else if($p<=8000){
				$fee = (100*4 + 900*2 + 1000*1.4 + 3000*0.7 + ($p-5000)*0.4)*10000/1000*0.6;
			}else if($p<=10000){
				$fee = (100*4 + 900*2 + 1000*1.4 + 3000*0.7 + 3000*0.4 + ($p-8000)*0.2)*10000/1000*0.6;
			}else{
				$fee = (100*4 + 900*2 + 1000*1.4 + 3000*0.7 + 3000*0.4 + 2000*0.2 + ($p-10000)*0.1)*10000/1000*0.6;
			}
			if($fee<=2000){
				$fee =2000;
			}else{
				$fee = Math.round($fee,0);
			}
			$('#getfee').html($fee);
			$('#realfee').html( Math.round($fee*$discount/100,0));
		}
		     
	})
	</script>
	

</body>
</html>