<!DOCTYPE html>
<html lang="en">
<head>
   <meta content="width=device-width,minimum-scale=1.0, initial-scale=1.0 ,user-scalable=no" name="viewport">
    <meta charset="UTF-8">
    <title>大叔询价</title>
        <link rel="stylesheet" href="__CSS__/bootstrap.min.css" />
        <link rel="stylesheet" href="__CSS__/font-awesome.min.css" />
      <!--   <link rel="stylesheet" href="__CSS__/fonts.googleapis.com.css" /> -->
        <link rel="stylesheet" href="__CSS__/ace.min.css" />

<!--         <link rel="stylesheet" href="__CSS__/ace-rtl.min.css" /> -->
        <link rel="stylesheet" href="__CSS__/comms/enquiry.css" />

</head>
<body>
    
<div class="center">
	<h1>
		
		<i class="ace-icon fa fa-coffee green"></i>
		<span class="red">大叔评估</span>
		<small><span class="green hide-xs" >厦门诚德行</span></small>
	</h1>
<!-- 	<h4 class="blue" id="id-company-text">&copy; 林晓13600966656</h4> -->
</div>
<form style="margin: 4% 3%;" action="{:url('getCommName')}" method="post">
    <div class="form-group" >
        <label for="exampleInputEmail1 " class="sr-only" >Email address</label>
        <input type="text" class="form-control input-lg" name="comm"  placeholder="您要评估的小区">
    </div>
    <div class="form-group hidden" id="sold">
        <label for="exampleInputPassword1 " class="sr-only" >Password</label>
        <input type="text" class="form-control input-lg" name="price" placeholder="需要输入二手房的成交单价">
    </div>
	
    <div class="checkbox">
        <label >
              <input type="checkbox" id="is_sold">我是二手房
        </label>
    </div>
    <button type="submit" class="btn btn-success btn-block btn-lg">马上估值</button>
</form>
<script src="__JS__/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
         $("#is_sold").on('click', function(e) {

            if (!$(this).attr("checked") ){
                $(this).attr("checked",true);
                $("#sold").removeClass("hidden");
            }else{
                $(this).removeAttr("checked");
                $("#sold").addClass("hidden");
            };

         });
    });
</script>
</body>
</html>