<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>大叔报价</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="__CSS__/font-awesome.min.css">
<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link rel="stylesheet" type="text/css" href="__CSS__/comms/enquiry.css">
</head>
<body>
	<div class="panel panel-default" style="margin: 0 0;">
		<div class="panel-heading">

			<h3 style="color: #3c763d;">龙江大厦<small style="padding-left:3%">思明-莲花</small></h3>
			 

		</div>
		<div class="panel-body" style="padding-top: 0;font-size: 18px;">
			<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">1111</div>
    <div role="tabpanel" class="tab-pane" id="profile">2222</div>
    <div role="tabpanel" class="tab-pane" id="messages">333</div>
    <div role="tabpanel" class="tab-pane" id="settings">444</div>
  </div>

</div>
			
			<a class="btn btn-success btn-block btn-lg" href="{:url('index')}">返回</a>
		</div>
	</div>


 	<script src="__JS__/jquery-2.1.4.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script> 

</body>
</html>