{extend name="mainbase" /} 
{block name="pg_cs"}

{/block} 
{block name="breadcrumb"}
<ul class="breadcrumb">
	<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">大叔评估后台</a>
	</li>
	<li><a href="#">挂牌信息</a></li>
	<li><a href="#">挂牌信息</a></li>

</ul>
{/block} 
{block name="main"}

<div class="col-xs-12">
	<div class="tabbable">
		<ul class="nav nav-tabs padding-12 tab-color-blue background-blue"
			id="myTab">
			<li><a href="{:url('saleslist')}">挂牌列表</a></li>
			<li  class="active"><a href="javascript:;" onclick="add()">按小区查询</a></li>
		</ul>
		<div class="tab-content">
		<div class="widget-header" id='search_div' style='padding-top: 5px; background: #5AA7D6;'>
			<div class="text-muted" style="color:white;float:left;margin:auto 0;margin-top: 6px;">共{$list->total()}条记录</div>
			
				<a href="javascript:;" onclick="add()" class="btn btn-sm btn-info"
					style="margin-right: 20px; border-radius: 20px; margin-bottom: 3px;float:right;">
					<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>高级查询</a>
		</div>
			<table
				class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					{foreach name="title" item="v"}
					<th>{$v}</th>
					{/foreach}
				</tr>
				{foreach name="list" item="v"}
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['title']}</td>
					<td>{$v['community_id']}</td>
					<td>{$v['community_name']}</td>
					<td>{$v['price']}</td>
					<td>{$v['total_floor']}</td>
					<td>{$v['builded_year']}</td>
				</tr>
				{/foreach}
			</table>
			<div >{$list->render()}</div>
		</div>
	</div>
</div>
<div class="modal fade" id="bjy-add" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">高级查询</h4>
			</div>
			<div class="modal-body">
				<form id="bjy-form" class="form-inline"
					action="{:url('queryByComm')}" method="post">
					<input	class="input-small" name="page" type="hidden" value='1'> 
					<table
						class="table table-striped table-bordered table-hover table-condensed">
						
						<tr>
							<th style="width: 50px;">WHERE</th>
							<td style="width: 70px;">
								<select id="wherefield" style="width: 70px; margin-bottom: 2px;">
								{foreach name="fields" item="v"}
									<option value="{$v['Field']}" >{$v['Field']}</option> 
								{/foreach}
								</select>
							</td>
							<td><input style="width:100%;" class="input-medium" type="text" 
							name="where" value='{$data["where"]}' placeholder="请使用双引号"></td>
						</tr>
						<tr>
						<tr>
							<th style="width: 50px;">ORDER</th>
							<td style="width: 70px;">
								<select id="orderfield" style="width: 70px; margin-bottom: 2px;">
								{foreach name="fields" item="v"}
									<option value="{$v['Field']}" >{$v['Field']}</option> 
								{/foreach}
								</select>
							</td>
							<td><input style="width:100%;" type="text" name="order" value='{$data["order"]}'>
							</td>
						</tr>
						<tr>
							<th style="width: 50px;">UPDATE</th>
							<td style="width: 70px;">
								<select id="setfield" style="width: 70px; margin-bottom: 2px;">
								{foreach name="fields" item="v"}
									<option value="{$v['Field']}" >{$v['Field']}</option> 
								{/foreach}
								</select>
							</td>
							<td><input style="width:100%;" type="text" name="set" value='{$data["set"]}'>
							</td>
						</tr>
						
						<tr>
							<th></th>
							<td><input class="btn btn-success" type="submit" value="修改"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
{/block} {block name="pg_js"}
<script>
//调出查询窗口
	
	function add() {
		//$("input[name='title'],input[name='name']").val('');
		//$("input[name='pid']").val(0);
		$('#bjy-add').modal('show');
	}
jQuery(function($) {
	//利用下拉列表，协助生成where查询
	jQuery("#wherefield").on("change", 		
		function(){
			var where = $("input[name='where']").val();
			var thisval =  $("#wherefield").val();
			if('' == where){
				where = thisval;
			}else{
				where += ' AND ' + thisval
			}
			$("input[name='where']").val(where);
	});
	
	//利用下拉列表，协助生成order查询
	jQuery("#orderfield").on("change", 		
		function(){
			var thisval =  $("#orderfield").val() ;
			$("input[name='order']").val(thisval);
	});
	
	//利用下拉列表，协助生成where查询
	jQuery("#setfield").on("change", 		
		function(){
			var set = $("input[name='set']").val();
			var thisval =  $("#setfield").val();
			if('' == set){
				set = thisval + ' = ';
			}else{
				set += ' ,' + thisval + ' = '
			}
			$("input[name='set']").val(set);
	});
});
</script>
{/block}{block name="pg_inline_js"}

{/block}
