.form-inline input,.form-inline select{
	margin-bottom: 5px;
	margin-right: 10px;
}
table .level2{
	padding-left:2% !important;
}

td .form-control{
	padding: 6px 2px;
}

table .level3{
	padding-left:4% !important;
}
.table-condensed tr td{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

