<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <!-- 这是测试使用Echart的页面，加载了图表，并测试了动态加载 -->
    
    <script src="__JS__/jquery-2.1.4.min.js"></script>
    <script src="__JS__/echarts.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:400px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
		option = {
			 title: {
				 left: 'center',
			        text: '瑞景新村',
			        subtext: '楼价/面积分布'
			    },
			    tooltip: {
			    	trigger: 'axis',
			        axisPointer: {
			            type: 'cross',
			            crossStyle: {
			                color: '#999'
			            }
			        }
			    },
		    xAxis: {
		        scale: true,
		        name: '元',
		    },
		    yAxis: {
		        scale: true,
		        name:'平米',
		    },
		    series: [{
		        type: 'effectScatter',
		        symbolSize: 20,
		    }, {
		        type: 'scatter',
		        data: [{foreach name="list" item="t"}
				[{$t["price"]},{$t["area"]}],
				{/foreach}]
		    }]
		};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>