<!DOCTYPE html>
<html lang="en" class="no-js">
    
    <head>

        <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    </head>
        <!-- <script type="text/javascript" src="__JS__/common/localstorage.js"></script> -->
        <script type="text/javascript">
			/* var Jumpurl = "{:url('login/login',['module' => $module,'controller'=>$controller,'action'=>$action])}";
			var getUIDurl = "{:url('login/ajax_getUid')}";
			var ajax_login_verify_url = "{:url('login/ajax_login_verify')}";
			var phone_url = "{:url('phone/index/index')}";
			var evalu_url = "{:url('evalu/sales/salesList')}"; */
			var module = "{$module}";
			var controller = "{$controller}";
			var action = "{$action}";
			//var query = {$input};
			var origin_url = module+'/'+controller+'/'+action;
			//var real_url = "{:url($module+'/'+$controller+'/'+$action),$input}";
			//var real_url = "{$Request.root.true}"+origin_url;
			//var real_url = "{:url('/'+$module+'/'+$controller+'/'+$action)}";
			//alert(real_url);
			//alert(origin_url);
			
			$(document).ready(function() {
				//这里两个函数都在localstorage.js里
				//alert(mod + ',' + url);
				//querystr = "";
/* 				for(var item in query) {

				     querystr += "'" + item + "' => " + query[item] + ",";
				
				} */
				//alert({$input});
				var real_url = "{:url($module+'/'+$controller+'/'+$action,$input)}";
				alert(real_url);
				/* MachineID_handle();
				if ((undefined == getUser) || ("" == getUser) || (null == getUser) || (undefined == getPwd) || ("" == getPwd) || (null == getPwd)){
					 //如果没有用户数据-->跳转登录页面
					 //alert('没数据，请重新登录！');
					 window.location.href = Jumpurl;
				}else{
					 //否则直接跳转
					 //alert(getUser+','+getPwd+','+getMachineID);
					 login_handle(getUser,getPwd,getMachineID,"localstorage登录");
				} */
			});
		</script>
    <body>
    </body>

</html>