<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>诚德行防伪</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css"	href="__CSS__/font-awesome.min.css">
</head>
<body>
<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>诚德行评估报告查询结果</h2></div>
  <div class="panel-body">
    <p>报告编号：厦诚德行房估字{$res['ZID']}号</p>
    <p>估价项目：{$res['RAddress']}</p>
    <p>委托人：{$res['RName']}</p>
    <p>估价金额：{$res['RMoney']}元</p>
  </div>

 
</div>
</body>
</html>