<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>诚德行防伪</title>
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css"	href="__CSS__/font-awesome.min.css">
</head>
<body>
<div class="panel panel-success">
  <div class="panel-heading">
  <h4>诚德行，为客户权益护航</h4>
  <h2> 扫一扫，辨真伪</h2>
  </div>
  <div class="panel-body">
    <p>即日起，厦门诚德行评估报告防伪系统全新上线</p>
    <p>查询方式：扫描报告封面二维码，即可获得报告相关信息</p>
  </div>
</div>
</body>
</html>