<form id="editUserForm" action="" method="post">
	<table class="table">
		<tbody>
			<tr>
				<td class="col-md-4 col-xs-4 left">关联规则序号</td>
				<td class="col-md-8 col-xs-8 right"><input name="id" value="1"
					disabled="" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">小区序号</td>
				<td class="col-md-8 col-xs-8 right"><input name="community_id"
					value="1303004" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">分类说明</td>
				<td class="col-md-8 col-xs-8 right"><input name="usage"
					value="SOHU" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">关联小区序号</td>
				<td class="col-md-8 col-xs-8 right"><input name="rela_comm_id"
					value="" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">关联系数</td>
				<td class="col-md-8 col-xs-8 right"><input name="rela_ratio"
					value="1" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">关联权重</td>
				<td class="col-md-8 col-xs-8 right"><input name="rela_weight"
					value="1" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">其他关联规则</td>
				<td class="col-md-8 col-xs-8 right"><input name="where"
					value="price < 24500" type="text"></td>
			</tr>
			<tr>
				<td class="col-md-4 col-xs-4 left">规则设立时间</td>
				<td class="col-md-8 col-xs-8 right"><input name="create_time"
					value="2018-01-09 17:32:56" type="text"></td>
			</tr>
	<tr>
		<td><input id="submit" name="submit" type="submit" value="提交">
		</td>
		<td><input id="reset" name="reset" type="reset" value="重置">
		</td>
	</tr>
		</tbody>
	</table>

</form>
