@CHARSET "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background: #cdcdcd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    height: 50px;
    background: rgba(47, 47, 47, 0.98);
}

section {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 10px;
}

label {
    float: left;
    width: 100px;
    line-height: 50px;
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
}

.header input {
    float: right;
    width: 60%;
    height: 24px;
    margin-top: 12px;
    text-indent: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
    border: none;
}

.header button{
    float: right;
    width: 48px;
    height: 25px;
    margin-top: 12px;
    background-color: #07FC27;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    font-weight: bolder;
}

h2 {
    position: relative;
    margin: 26px 0;
}

h2 .count {
    position: absolute;
    top: 2px;
    right: 5px;
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    border-radius: 20px;
    background: #e6e6fa;
    line-height: 22px;
    text-align: center;
    color: #666;
    font-size: 14px;
}

ol {
    margin: 28px 0 32px;
}

ol,
ul {
    list-style-type: none;
}

li {
    height: 32px;
    line-height: 32px;
    background: #fff;
    position: relative;
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: 3px;
    border-left: 5px solid #629a9c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}



li p {
    line-height: 34px;
	color:#555;
}


#doneList li {
    border-left: 5px solid #999;
    opacity: 0.5;
}

.footer {
    font-size: 14px;
    text-align: center;
    color: #666;
}

.arrow {
	float: left;
	font-size:18px;
	margin-top: 5px;
}

.note input{
	width: 70%;
	border-color: #878787;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	font-size:16px;
	line-height: 24px;
}

.ok {
	float:right;
	font-size:14px;
	margin-top: 8px;
}

.glyphicon{
	
    padding-right: 15px;
	cursor:pointer;
	font-weight:thick;
	color: #878787;

}

.right{
	float:right;
	font-size:18px;
	margin-top: 5px;
}


@media only screen and (max-width: 400px){
    .header input{
        width: 52%;
    }
}
