{extend name="mainbase" /} {block name="pg_cs"} {/block} {block
name="breadcrumb"} {/block} {block name="main"}
<div class="page-header">
	<h1>
		<i class="fa fa-home"></i> 首页 &gt; 后台管理 &gt; 修改用户
	</h1>
</div>
<div class="col-xs-12">
	<div class="tabbable">
		<ul class="nav nav-tabs padding-12 tab-color-blue background-blue"
			id="myTab">
			<li><a href="{:url('user')}">用户列表</a></li>
			<li class="active"><a href="#">修改用户</a></li>
			<li ><a href="{:url('loginRecords')}">登录一览</a></li>
		</ul>
		<div class="tab-content">
			<form class="form-inline" method="post">
				<input type="hidden" name="user_id" value="{$user_data['user_id']}">
				<table
					class="table table-striped table-bordered table-hover table-condensed">
					<tr>
						<th>管理组</th>
						<td>{foreach name="data" item="v"} {$v['title']} <input
								class="xb-icheck" type="checkbox" name="group_ids[]"
								value="{$v['id']}"
							{in name="v['id']" value="$group_data"} checked="checked"{/in} >
							&emsp;{/foreach}</td>
					</tr> 
					<tr>
						<th>姓名</th>
						<td><input class="input-medium" type="text" name="user_name"
							value="{$user_data['user_name']}"></td>

					</tr>
					<tr>
						<th>邮箱</th>
						<td><input class="input-medium" type="text" name="email"
							value="{$user_data['email']}"></td>
					</tr>
					<tr>
						<th>初始密码</th>
						<td><input class="input-medium" type="text" name="pass"
							placeholder="如不改密码；留空即可"></td>
					</tr>
					<tr>
						<th>状态</th>
						<td><label class="radio-inline"> <input type="radio"
								name="status" value="1" checked="checked"> 允许登录
						</label> <label class="radio-inline"> <input type="radio"
								name="status" value="0"> 禁止登录
						</label></td>

					</tr>
					<tr>
						<th></th>
						<td><input class="btn btn-success" type="submit" value="修改"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

{/block} {block name="pg_js"} {/block}{block name="pg_inline_js"}

{/block}
