{extend name="mainbase" /} {block name="pg_cs"}
<!-- 以下三个是本页加的CSS -->
<link rel="stylesheet" href="__CSS__/jquery-ui.min.css" />
<!--    这个是弹出的编辑窗口  
<link rel="stylesheet" href="__CSS__/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="__CSS__/ui.jqgrid.min.css" /> -->
{/block} {block name="breadcrumb"}
<ul class="breadcrumb">
	<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">大叔评估后台</a>
	</li>
	<li><a href="#">用户及权限管理</a></li>
	<li><a href="#">异常记录</a></li>

</ul>
{/block} {block name="main"}

<div class="widget-box">
	<div class="widget-header" id='search_div' style='padding-top: 5px; background: #5AA7D6;'>
		<div class="text-muted" style="color:white;float:left;margin:auto 0;margin-top: 6px;">共{$list->total()}条记录</div>
		<form class="form-inline" style="float: right; color: white;" id="comms-serch" action="" method="post">
			最近<input class="input-small" name="search_days" value='{$data['search_days']}'
				type="text" style="width: 50px; text-align: center">天内 
			<input	class="input-small" name="page" type="hidden" value='1'> 
			<select	class="form-control " name="search_type" style="width: 90px; margin-bottom: 2px;">
				<option value="all" {if condition="$data['search_type']=='all'"}selected = "selected"{/if}>查询全部</option> 
				<option value="1" {if condition="$data['search_type']=='1'"}selected = "selected"{/if}>查缺失小区列表</option>
				<option value="2" {if condition="$data['search_type']=='2'"}selected = "selected"{/if}>查离散过大小区列表</option>
				<option value="3" {if condition="$data['search_type']=='3'"}selected = "selected"{/if}>查无数据小区列表</option>
			</select>	
			<button type="submit" id="find_btn" class="btn btn-sm btn-info"
				style="margin-right: 20px; border-radius: 20px; margin-bottom: 3px;">
				<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
				查询
			</button>
		</form>
	</div>
	<div class="widget-body">
		<div class="widget-main" style='padding: 0;'>
			<table id="gridtable"
				class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					{foreach name="title" item="t"}

					<th>{$t}</th> {/foreach}
				</tr>
				{foreach name="list" item="v"}
				<tr>
					<td>{$v['id']}</td>
					<td>{$v['comm_name']}</td>
					<td>{$v['times']}</td>
					<td>{$v['comm_id']}</td>
					<td>{$v['user_name']}</td>
					<td>{$v['create_time']}</td>
					<td>{$v['type']}</td>
					<td>{$v['memo']}</td>
				</tr>
				{/foreach}
			</table>
			<div id="gridtable_pager">{$list->render()}</div>
		</div>
	</div>
</div>

<div class="contextMenu" id="myMenu">
  <ul>
    <li id="del_err">已处理，删除此类记录</li>
    <li id="detail">查询完整查询记录信息</li>
    <li id="handle_err">处理该异常记录</li>
  </ul>
</div> 

<div class="modal fade" tabindex="-1" role="dialog" id="mydialogg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">信息</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{/block} {block name="pg_js"}
<script src="__JS__/jquery-ui.min.js"></script>
<script src="__JS__/jquery.contextmenu.js"></script>
<script>
jQuery(function($) {
	$('.modal').draggable();
	$(".modal").css("overflow", "hidden");//禁止模态对话框的半透明背景滚动
	 $('#gridtable td').contextMenu('myMenu', 
      {
         menuStyle:{
        	 width:'180px',
         },
         itemStyle:{
        	
         },
		 bindings: 
           {
             'del_err': function(t) {
            	 //取出当前行的序号
           	 	var id = $(t).parent().find("td").eq(3).html();
           	 	var commName = $(t).parent().find("td").eq(1).html();
           	 	//alert(id);
	           	$.ajax({
	         		url:'del_err_comm',
	         		data:{
	         			ID:id,
	         		},
	         		success:function(response){  
 	         			//alert(response) ;
 	         			response = '<p>成功删除'+response+'条记录</p>';
 	         			$('#mydialogg div.modal-body').html(response);
 	         			$('#mydialogg h4.modal-title').html(commName+'异常记录清理结果');
 	         			$('#mydialogg').modal('show');
 	 		        }  
	         	});
            	 
             },
             'detail': function(t) {
            	//取出当前行的序号
           	 	var id = $(t).parent().find("td").eq(3).html();
           	 	var commName = $(t).parent().find("td").eq(1).html();
            	 	//alert(id);
 	           	 $.ajax({
 	         		url:'getFullById',
 	         		data:{
 	         			ID:id,
 	         		},
 	         		success:function(response){  
 	         			//alert(response) ; 
 	         			$('#mydialogg div.modal-body').html(response);
 	         			$('#mydialogg h4.modal-title').html(commName+'详细查询记录');
 	         			$('#mydialogg').modal('show');
 	 		        }  
 	         		
 	         	});
             },
             'handle_err': function(t) {
            	//取出当前行的序号
           	 	var id = $(t).parent().find("td").eq(3).html();
           	 	var commName = $(t).parent().find("td").eq(1).html();
           	 	window.location.href= "{:url('Comms/handle_comm')}"+"?community_id="+id+"&commName="+commName;
             },
            
           }
     });
});
</script>
{/block}{block name="pg_inline_js"}

{/block}
